<div id="navBar">
    <a href="/private/inventory">Inventory</a>
    <a href="/users">Users</a>
    <a href="/login/logout">Logout</a>
</div>
<article class="inventory">
        
        <h1>Your inventory</h1>
        <form>
            <input type="text" name="searchItem" placeholder="Search for item...">
        </form>
        <table class="table" id="itemTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
                {{#each items}}
                    <tr class="itemRow">
                        <td>{{name}}</td>
                        <td>{{category}}</td>
                        <td>${{price}}</td>
                        <td>{{quantity}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        {{#if admin}}
        <h2>Add Item</h2>
        <form id="addItemForm">
            <div class="formGroup">
                <label for="itemName">Name</label>
                <input name="itemName" id="itemName" type="text" placeholder="item name"/>
            </div>
            <div class="formGroup">
                <label for="category">Category</label>
                <input name="category" id="category" type="text" placeholder="clothing, kitchenware, electronics, etc."/>
            </div>
            <div class="formGroup">
                <label for="description">Description</label>
                <textarea  id="description" name="description"></textarea>
            </div>
            <div class="formGroup">
                <label for="itemQuantity">Quantity</label>
                <input name="itemQuantity" id="itemQuantity" min ="0" type="number" placeholder="0"/>
            </div>
            <div class="formGroup">
                <label for="price">Price</label>
                <input name="price" id="price" min ="0" step=".01" type="number" placeholder="0.00"/>
            </div>
            <input id="submitForm" type="submit" value="Add Item"/>
        </form>
        {{/if}}
        <div class="hidden" id="errorContainer">
            <div id="errorText">{{error}}</div>
        </div>   
</article>
