<div id="navBar">
    <a href="/private/inventory">Inventory</a>
    <a href="/users">Users</a>
    <a href="/login/logout"Logout</a>
</div>
<article class="item">
    <h1 class ="itemName" id="nameField" >{{item.name}}</h1>
    {{#if admin}}
    <button id="itemEdit">edit</button>
    <input id="nameInput" type="text" value={{item.name}} class="hidden"></input>
    {{!--<button id="nameUpdateButton" class="hidden">update</button>--}}
    {{/if }}
    <ul id="itemAttrList" class="attrList">
        <li>
            <h2>Category</h2>
            <p id="categoryField">{{item.category}}</p>
            {{#if admin}}
            {{!--<button id="categoryEditButton">edit</button>--}}
            <input id="categoryInput" type="text" value={{item.category}} class="hidden"></input>
            {{!--<button id="categoryUpdateButton" class="hidden">update</button>--}}
            {{/if }}
        </li>
        <li>
            <h2>Price</h2>
            <p id="priceField">${{item.price}}</p>
            {{#if admin}}
            {{!--<button id="priceEditButton">edit</button>--}}
            <input id="priceInput" class="hidden" min="0" step=".01" type="number" value={{item.price}}></input>
            {{!--<button id="priceUpdateButton" class="hidden">update</button>--}}
            {{/if}}
        </li>
        <li>
            <h2>Quantity</h2>
            <p id="quantityField">{{item.quantity}}</p>
            {{!--<button id="quantityEditButton">edit</button>--}}
            <input id="quantityInput" type="number" min="0" class="hidden" value={{item.quantity}}></input>
            {{!--<button id="quantityUpdateButton" class="hidden">update</button>--}}
        </li>
        <li class="description-attr">
            <h2>Description</h2>
            <p id="descriptionField">{{item.description}}</p>
            {{!--<button id="descriptionEditButton">edit</button>--}}
            <textarea  id="descriptionInput" class="hidden">{{item.description}}</textarea>
            {{!--<button id="descriptionUpdateButton" class="hidden">update</button>--}}
        </li>
    </ul>  
    <button id="itemUpdateButton" class="hidden">Update Item</button>
    {{#if admin}}
        <p class="hidden" id="itemId">{{item._id}}</p>
        <button class="deleteButton" id="deleteItem">Delete Item</button>
    {{/if}}
    <div class="hidden" id="confirmDeleteWrapper">
            <p>Update Item {{item.name}}?</p>
            <button id="confirmDeleteButton">Confirm</button>
            <button id="cancelDeleteButton">Cancel</button>
    </div>
    <div class="hidden" id="confirmUpdateWrapper">
            <p>Delete Item {{item.name}}?</p>
            <button id="confirmUpdateButton">Confirm</button>
            <button id="cancelUpdateButton">Cancel</button>
    </div>
    <div class="hidden" id="errorContainer">
            <div id="errorText">{{error}}</div>
    </div> 
</article>