<div id="navBar">
    <a href="/items">Inventory</a>
    <a href="/users">Users</a>
    <a href="/login/logout">Logout</a>
</div>
<article>
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <ul id="userAttrList" class="attrList"> 
        <li>
            <h2>Username</h2>
            <p id="username">{{user.username}}</p>
        </li>
        <li>
            <h2>Roles</h2>
            <p id="rolesField">{{user.roles}}</p>
            <button id="rolesEditButton">edit</button>
            <input id="rolesInput" class="hidden"/>
            <button id="rolesUpdateButton" class="hidden">update</button>
        </li>
    </ul>
    <button class="deleteButton" id="deleteUser">Delete User</button>
    <div class="hidden" id="confirmDeleteWrapper">
        <p>Delete user {{user.username}}?</p>
        <button id="confirmButton">Confirm</button>
        <button id="cancelButton">Cancel</button>
    </div>
</article>